
.container{
    display: flex;
    width: 100%;
    height: 50vh;
}

.card{
    margin: auto;
    box-shadow: 10px 10px 5px lightblue;
}
.foot{
    display: flex;
    position: fixed;
    bottom: 2px;
    color: lightseagreen;
    flex-direction: column;
    border-radius: 15px;
    transform: translateY(111%);
}
.item{
    display: inline-block;
    padding-bottom: 5px;
}
#b{
    border-radius: 5px;
}
.card1{
    background-color: transparent;
}
.inp{
    margin-bottom: 10px;
}
.card1-title{
  color: azure;
}
.card1-link{
  color: azure;
  background-color: transparent;
  border-radius: 5px;
}
.imm{
  position: absolute;
  height: 100vh;
  width: 100%;    
  z-index: -1; 
}

.ti{
  text-transform: uppercase;
  color: white;
}


.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 10s;
}
.show{
    filter: blur(0);
    transform: translateX(0);
    opacity: 1;
}