body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.containerMeet {
    width: 300px;
    border: 1px solid #ccc;
    padding: 40px;
    height: 300px;
    box-shadow: 10px 10px 5px rgb(0, 7, 9);
    /* text-shadow: 10px 10px 4px rgb(0, 7, 9); */
}

#login-formMeet {
    display: flex;
    flex-direction: column;
}

.containerMeet label, input {
    margin-bottom: 10px;
}

.butMeet {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transform: translateX(-35px);
}

.butMeet:hover {
    background-color: #45a049;
}
.immMeet{
    position: absolute;
    height: 100vh;
    width: 100%;    
    z-index: -1; 
  }
.subMeet{
    position: relative;
    top: 70px;
    box-shadow: 10px 10px 5px rgb(0, 7, 9);
}
.butMeet{
    border-radius: 10px;
    padding: 8px 140px 10px 130px;
}
.passMeet{
    position: relative;
    top: 10px;
}
.headMeet{
    position: relative;
    bottom: 20px;
    font-size: 25px;
    color: aliceblue;
    margin-bottom: 25px;
    text-shadow: 10px 10px 5px rgb(41, 172, 208);
}
.passMeet{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    text-shadow: 10px 10px 5px rgb(41, 172, 208);
}
.userMeet{
    display: flex;
    color: aliceblue;
    flex-direction: column;
    margin-bottom: 25px;
    text-shadow: 10px 10px 5px rgb(41, 172, 208);
}
#usernameMeet{
    border-radius: 2px;
    box-shadow: 10px 10px 5px rgb(41, 172, 208);

}
#passwordMeet{
    border-radius: 2px;
    box-shadow: 10px 10px 5px rgb(41, 172, 208);
}

.hiddenMeet{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
    transition: all 2s;
}
.showMeet{
    filter: blur(0);
    transform: translateY(0);
    opacity: 1;
}

.inpMeet{
    padding: 5px 0 5px 0;
}