h<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Nexus</title>
    <link rel="stylesheet" href="home.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body style="overflow-x: hidden;">
  <nav>
    <div class="navbar">
      <i class='bx bx-menu'></i>
    <div class="container_logo" style="display: flex;">
      <img src="logo.png" style="height: 50px;width: 50px;">
      <div class="logo"><a href="#">NEXUS</a></div>
    </div>
      <div class="nav-links">
        <div class="sidebar-logo">
          <span class="logo-name">NEXUS</span>
          <i class='bx bx-x' ></i>
        </div>
        <ul class="links">
          <li><a href="home.html">HOME</a></li>
          <li>
            <a href="#">SERVICES</a>
            <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
            <ul class="htmlCss-sub-menu sub-menu">
              <li><a href="tata.html">LATEST TECH NEWS</a></li>
              <li><a href="gadgets.html">GADGET REVIEWS</a></li>
              <li><a href="meet.html">TECH MEETS AND EVENTS</a></li>
              
            </ul>
          </li>
          <li>
            <a href="#">SECTORS</a>
            <i class='bx bxs-chevron-down js-arrow arrow '></i>
            <ul class="js-sub-menu sub-menu">
              <li><a href="agricultureMeet.html">AGRICULTURE</a></li>
              <li><a href="education.html">EDUCATIONAL</a></li>
              <li><a href="construction.html">CONSTRUCTION</a></li>
              <li><a href="health.html">HEALTH</a></li>
            </ul>
          </li>
          <li><a href="contactUs.html">ABOUT US</a></li>
          <li><a href="loginPage.html">LOGIN</a></li>
        </ul>
      </div>
      <div class="search-box">
        <i class='bx bx-search'></i>
        
        <div class="input-box">
          <input type="text" placeholder="Search...">
          <i class='bx bx-microphone' id='vsi' onclick="voiceinput()"></i>
          <div class="Ellipse1" style="width: 35px; height: 35px;margin-top: 10px;margin-left: 304px;    background: #E41D1D;border-radius: 50%;display: none; animation: soundWave 1s infinite;
          opacity: 0;"></div>
        </div>
      </div>
    </div>
  </nav>


  <div class="container" style="width: 1520px; height: 1390px; position: relative; background:white">
    <div class="Rectangle9cons" id="rect3" style="width: 679px; height: 497px; left: 35px; top: 799px; position: absolute; background: #D9D9D9;opacity: 0.5;"></div>
    <div class="Rectangle8Cons" style="width: 676px; height: 445px; left: 760px; top: 354px; position: absolute; background: #D9D9D9;opacity: 0.5;"></div>
    <div class="Con1" style="width: 1520px; height: 70px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
    <div class="Cons2" style="width: 1520px; height: 240px; left: 0px; top: 70px; position: absolute; background: #1E2430"></div>
    <div class="ConstructionalAiUseGenerativeAiForImprovisedConstruction" style="width: 893px; height: 228px; left: 146px; top: 76px; position: absolute"><span style="color: white; font-size: 60px; font-family: Monoton; font-weight: 400; word-wrap: break-word">CONTRUCTIONAL<br/></span><span style="color: white; font-size: 50px; font-family: Monoton; font-weight: 400; word-wrap: break-word"> AI<br/></span><span style="color: white; font-size: 35px; font-family: Lexend; font-weight: 400; word-wrap: break-word">Use generative AI for improvised construction</span></div>
    <div class="ForTheFirstTimeYouCanTouchTheUnexpectedLimitsOfConstructionHistoryYouCanGetActualAccessToTheAugmentRealityInTheGridSpacePickAndDropTheAugmentedObjectsForBetterVisuals" style="width: 615px; height: 391px; left: 830px; top: 385px; position: absolute; color: black; font-size: 35px; font-family: Monomaniac One; font-weight: 400; word-wrap: break-word">  For the first time you can touch the unexpected limits of construction history.<br/><br/>  you can get actual access to the<span style="color: red;"> augment reality</span> in the grid space.<br/><br/> pick and drop the augmented objects for better visuals.<br/></div>
    <div class="EnterTheConstructionWhichYouWantToBuildEnterTheDimensionsAndOutlineOfYourAreaPressEnterAndGetTheOutputOnGridLines" style="width: 615px; height: 391px; left: 110px; top: 890px; position: absolute; color: black; font-size: 35px; font-family: Monomaniac One; font-weight: 400; word-wrap: break-word"> enter the construction which you want to build.<br/><br/> enter the dimensions and outline of your area.<br/><br/> press enter and get the output on grid lines.<br/></div>
    <img class="Arrow1" style="width: 92px; height: 45px; left: 800px; top: 374px; position: absolute" src="arrow.png" />
    <img class="Arrow4" style="width: 92px; height: 45px; left: 78px; top: 872px; position: absolute" src="arrow.png" />
    <img class="Arrow2" style="width: 92px; height: 45px; left: 791px; top: 640px; position: absolute" src="arrow.png" />
    <img class="Arrow5" style="width: 92px; height: 45px; left: 69px; top: 1120px; position: absolute" src="arrow.png" />
    <img class="Arrow3" style="width: 92px; height: 45px; left: 800px; top: 528px; position: absolute" src="arrow.png" />
    <img class="Arrow6" style="width: 92px; height: 45px; left: 78px; top: 1026px; position: absolute" src="arrow.png" />
    <img class="Constr1" style="width: 635px; height: 444px; left: 747px; top: 852px; position: absolute; border-radius: 74px;" src="cons.png" />
    <img class="Cons1" style="width: 655px; height: 372px; left: 48px; top: 404px; position: absolute; border-radius: 60px" src="constr.png" />
    <div class="Steps" style="width: 496px; height: 59px; left: 87px; top: 817px; position: absolute; color: black; font-size: 35px; font-family: Monomaniac One; font-weight: 400; word-wrap: break-word">STEPS:</div>
  </div>


  <div class="container" style="width: 1520px; ;height: 1390px; position: relative; background: white">
    <div class="Rectangle7" style="width: 1520px; height: 1390px; left: 0px; top: 0px; position: absolute; background: #C5ACC9"></div>
    <div class="Rectangle4" style="width: 1091px; height: 478px; left: 221px; top: 159px; position: absolute; background: #D9D9D9; border-radius: 64px"></div>
    <div class="Rectangle3" style="width: 1043px; height: 83px; left: 255px; top: 533px; position: absolute; background: #F5F5F5; border-radius: 70px"></div>
    <div class="PleaseFollowTheCommunityGuideLinesEnterTheInputAndEnjoyTheOutput" style="width: 996px; height: 219px; left: 238px; top: 247px; position: absolute; text-align: center; color: black; font-size: 40px; font-family: Mongolian Baiti; font-weight: 400; word-wrap: break-word">Please follow the community guide lines.<br/><br/>enter the input and enjoy the output.</div>
    <div class="Rectangle6Cons" style="width: 1243px; height: 603px; left: 145px; top: 745px; position: absolute; background: white; box-shadow: 4px 4px 4px; border: 0.50px black solid; filter: blur(4px)"></div>
    <div class="OutputDesignArea" style="width: 1206px; height: 94px; left: 133px; top: 682px; position: absolute; color: black; font-size: 40px; font-family: Mongolian Baiti; font-weight: 400; word-wrap: break-word">OUTPUT DESIGN AREA</div>
    <div class="Line1" style="width: 603px; height: 0px; left: 145px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line2" style="width: 603px; height: 0px; left: 178px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line3" style="width: 603px; height: 0px; left: 211px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line4" style="width: 603px; height: 0px; left: 244px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line5" style="width: 603px; height: 0px; left: 277px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line6" style="width: 603px; height: 0px; left: 310px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line7" style="width: 603px; height: 0px; left: 343px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line8" style="width: 603px; height: 0px; left: 376px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line9" style="width: 603px; height: 0px; left: 409px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line10" style="width: 603px; height: 0px; left: 442px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line11" style="width: 603px; height: 0px; left: 475px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line12" style="width: 603px; height: 0px; left: 508px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line13" style="width: 603px; height: 0px; left: 541px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line14" style="width: 603px; height: 0px; left: 574px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line15" style="width: 603px; height: 0px; left: 606px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line16" style="width: 603px; height: 0px; left: 637px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line17" style="width: 603px; height: 0px; left: 667px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line18" style="width: 603px; height: 0px; left: 697px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line19" style="width: 603px; height: 0px; left: 727px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line20" style="width: 603px; height: 0px; left: 757px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line21" style="width: 603px; height: 0px; left: 787px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line22" style="width: 603px; height: 0px; left: 817px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line23" style="width: 603px; height: 0px; left: 847px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line24" style="width: 603px; height: 0px; left: 877px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line25" style="width: 603px; height: 0px; left: 907px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line26" style="width: 603px; height: 0px; left: 937px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line27" style="width: 603px; height: 0px; left: 967px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line28" style="width: 603px; height: 0px; left: 997px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line29" style="width: 603px; height: 0px; left: 1027px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line30" style="width: 603px; height: 0px; left: 1057px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line31" style="width: 603px; height: 0px; left: 1087px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line32" style="width: 603px; height: 0px; left: 1118px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line33" style="width: 603px; height: 0px; left: 1148px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line34" style="width: 603px; height: 0px; left: 1178px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line35" style="width: 603px; height: 0px; left: 1208px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line36" style="width: 603px; height: 0px; left: 1238px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line37" style="width: 603px; height: 0px; left: 1268px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line38" style="width: 603px; height: 0px; left: 1298px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line39" style="width: 603px; height: 0px; left: 1328px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line40" style="width: 603px; height: 0px; left: 1358px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line41" style="width: 603px; height: 0px; left: 1388px; top: 745px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.50px black solid"></div>
    <div class="Line42" style="width: 1247.12px; height: 0px; left: 141px; top: 777.51px; position: absolute; border: 0.50px black solid"></div>
    <div class="Line43" style="width: 1247.12px; height: 0px; left: 144.88px; top: 814.96px; position: absolute; border: 0.50px black solid"></div>
    <div class="Line45" style="width: 1243px; height: 0px; left: 145px; top: 850px; position: absolute; border: 0.50px black solid"></div>
    <div class="Line46" style="width: 1243px; height: 0px; left: 145px; top: 884px; position: absolute; border: 0.50px black solid"></div>
    <div class="Line47" style="width: 1243px; height: 0px; left: 145px; top: 917px; position: absolute; border: 0.50px black solid"></div>
    <div class="Line48" style="width: 1243px; height: 0px; left: 145px; top: 951px; position: absolute; border: 0.50px black solid"></div>
    <div class="Line49" style="width: 1243px; height: 0px; left: 145px; top: 984px; position: absolute; border: 0.50px black solid"></div>
    <div class="Line50" style="width: 1243px; height: 0px; left: 145px; top: 1018px; position: absolute; border: 0.50px black solid"></div>
    <div class="Line51" style="width: 1243px; height: 0px; left: 145px; top: 1051px; position: absolute; border: 0.50px black solid"></div>
    <div class="Line52" style="width: 1243px; height: 0px; left: 145px; top: 1085px; position: absolute; border: 0.50px black solid"></div>
    <div class="Line53" style="width: 1243px; height: 0px; left: 145px; top: 1118px; position: absolute; border: 0.50px black solid"></div>
    <div class="Line54" style="width: 1243px; height: 0px; left: 145px; top: 1152px; position: absolute; border: 0.50px black solid"></div>
    <div class="Line55" style="width: 1243px; height: 0px; left: 145px; top: 1185px; position: absolute; border: 0.50px black solid"></div>
    <div class="Line56" style="width: 1243px; height: 0px; left: 145px; top: 1219px; position: absolute; border: 0.50px black solid"></div>
    <div class="Line57" style="width: 1243px; height: 0px; left: 145px; top: 1252px; position: absolute; border: 0.50px black solid"></div>
    <div class="Line58" style="width: 1243px; height: 0px; left: 145px; top: 1286px; position: absolute; border: 0.50px black solid"></div>
    <div class="Line59" style="width: 1243px; height: 0px; left: 145px; top: 1319px; position: absolute; border: 0.50px black solid"></div>
    <div class="Line60" style="width: 1243px; height: 0px; left: 145px; top: 1348px; position: absolute; border: 0.50px black solid"></div>
    <img class="Arrow7" style="width: 200px; height: 99px; left: 1178px; top: 502px; position: absolute" src="arrow.png" />
  </div>
</div>
  <script src="home.js"></script>
  
 </body>
</html>